body {
  margin: 50px;
}

#todays-challenge {
  text-decoration:underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 40%;
  font-weight: 600;
  font-size: 52px;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
