ul {
    list-style-type: none;
    font-size: 18px;
}

a {
     font-size: 48px;
     color: #012E54;
     background-color: #2DDF80 ;
     padding: 10px;
     border-radius: 20px;
}

li {
   margin: 32px;
}

