/* shared.css */
body {
    text-align: center;
    background-color: #2E3541;
    font-family: 'Fira Sans', sans-serif;
    font-size: 24px;
    color: white;

}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    color: yellow;
}

a {
  color:  #e94747;;
  text-decoration: none;
  
}

a:hover {
  text-decoration: underline;
}

